body{
    margin: 0;
    box-sizing: border-box;
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

nav{
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 50px;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.425);
}

nav .logo{
    color: #fff;
    float: left;
    display: block;
    padding: 14px 16px;
    height: 5px;
    width: 5px;
}


nav a{
    color:#fff;
    float: right;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
}

nav a:hover{
    transition: 0.5s;
    background-color: #e4e4e4;
    color: black;
}

